
.mobileMenu{
    margin-top: 0%;
    height: 80vh;
}


.hide{
    display: none;
}
.navUl {
    border-radius: 10px;
    border: 1px solid black;
    top: 0%;
    list-style: none;
    position: absolute;
    left: -350px;
    width: 60%;
    transition: transform 1s;
    height: 35vh;
    background-color: #00FFFF;
}
.navUl li {
    padding: 20px;
    font-size: 40px;
}
.active{
    top: 0%;
    width: 60%;
    transform: translateX(350px);
}
.burger-menu{
    padding: 10px;
    z-index: 4;
    margin-top: 0%;
    position: absolute;
    top:0%;
    left: 5px;
    background-color: transparent;
    border: none;
    transition: transform 1.5s;
}
.burger-menu:active{
    border: none;
    background-color: transparent;
    box-shadow: none;
}
.burger-menu:hover{
    box-shadow: none;
    background-color: transparent;
}
