
.mobileMenu{
    margin-top: 0%;
    height: 80vh;
}


.hide{
    display: none;
}
.navUl {
    list-style: none;
    position: absolute;
    left: -350px;
    width: 40%;
    transition: transform 1s;
    height: 100vh;
}
.navUl li {
    padding: 20px;
    font-size: 30px;
}
.active{
    transform: translateX(360px);
}
.burger-menu{
    z-index: 4;
    margin-top: 0%;
    position: absolute;
    top:0%;
    left: 1%;
    background: none;
    border: none;
    transition: transform 1.5s;
}
.burger-menu:active{
    border: none;
    background-color: none;
    box-shadow: none;
}
.burger-menu:hover{
    box-shadow: none;
}
