*{
    font-family: "Amatic SC", cursive;
    text-align: center;
}
body{
    background-image: url('./obrazy/thx_bg.jpg'); 
    background-position: center;
    background-size: cover;
}
h1{
    font-size: 60px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
button{
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
    font-size: 35px;
    padding: 5px;
    border-radius: 10px;
}